<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Available Tags</h2>
    <ul>
    <% tags.forEach(function(tag){%>      
      <li><%= tag %></li>
    <% }) %>
    </ul>
  </body>